.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  max-width: 453px;
  padding: 3px;
  background-color: #465C69;
  border-radius: 4px;
  text-align: center;
  
}

h3, a {
  color: #000;
  text-decoration: none;
  overflow-wrap: break-word;
}

button {
  margin: 10px 0;
  height: 20px;
  width: 120px;
  font-size: .75em;
  border: none;
  border-radius: 4px;
  background-color: #A2AEBB;
  color: #FFF;
}